body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

.topOfPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/pattern-bg.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vh;
}

.topOfPage h2 {
    color: white;
    font-weight: 500;
    margin-top: 4vh;
}

.searchBar {
    display: flex;
    justify-content: center;
}

.searchBar input {
    height: 60px;
    width: 475px;
    border: none;
    border-radius: 15px 0  0 15px;
    font-size: 18px;
    padding-left: 50px;
    cursor: pointer;
    background-color: #fff;
}

.searchBar input:-webkit-autofill {
    color: #2a2a2a !important;
}

.searchBar input:focus, textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #fff;
}

.searchBar button {
    background-color: black;
    height: 62px;
    width: 60px;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.topOfPage button img {
    height: 15px;
    width: 15px;
}

/* informationCard */

.informationCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    height: 30%;
    width: 75%;
    position: absolute;
    top: 25vh;
    border-radius: 15px;
    background-color: white;
    z-index: 1;
    padding: 0 40px 0 40px;
   
}

.informationCard div {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.informationCard div h5 {
    color: #888;
    font-weight: 500;
    margin-top: 0;
}

.informationCard div span {
    display: flex;
    font-size: 150%;
}

.informationCard div:nth-child(2) {
    border-left: solid #cecece 2px;
    padding-left: 40px;
}

.informationCard div:nth-child(3) {
    border-left: solid #cecece 2px;
    padding-left: 40px;
}

.informationCard div:nth-child(4) {
    border-left: solid #cecece 2px;
    padding-left: 40px;
}

/* MAP SECTION */

.mapSection {
    height: 64.5vh;
    z-index: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 1024px) {

    .topOfPage h2 {
        color: white;
        font-size: 20px;
        font-weight: 400;
        margin-top: 2vh;
    }

    .searchBar {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .searchBar input {
        border-radius: 10px 0  0 10px;
        padding-left: 10%;
        height: 7vh;
    }

    .searchBar button {
        background-color: black;
        height: 7.3vh;
        width: 80px;
        border: none;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
    }
    
    .topOfPage button img {
        height: 10px;
        width: 8px;
    }

    .informationCard {
        position: absolute;
        top: 19vh;
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 40%;
        padding: 0 0 5% 0;
    }
    
    .informationCard div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 25%;
        margin: 0;
        padding: 0;
        border: none;
    }

    .informationCard div:nth-child(2) {
        border: none;
        padding: 0;
    }
    
    .informationCard div:nth-child(3) {
        border: none;
        padding: 0;
    }
    
    .informationCard div:nth-child(4) {
        border: none;
        padding: 0;
    }
    
    .informationCard div h5 {
        display: flex;
        align-self: center;
        font-size: 2vh;
        padding: 5% 0 0 0;
        margin: 0;
    }
    
    .informationCard div span {
        font-size: 3.5vh;
        margin: 0;
        
        padding-top: 5%;

    }
}